{% extends 'base.html' %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form method="POST">
    {% csrf_token %}
        <div class="" style="width: 50%; margin: 30px auto">
        <input class="form-control" name="email" type="email" id="id_email" placeholder="Email">
        <input class="btn btn-success mt-2" type="submit" value="Send Confirmation">
            </div>
    </form>
        </div>
</div>



{% endblock %}
