{% extends 'base.html' %}
{% block title %}
Update
{% endblock %}
{% block content %}
    <style>
    form{
        margin: 50px auto;
    }

    </style>
<div class="row">
<div class="col-md-6 offset-md-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="text-center" style="padding: 5px 5px; background-color: green">Update your profile</h4>
        <div class="login">First name {{ user_edited.first_name }}</div>
        <div class="login">Last name {{ user_edited.last_name }}</div>
        <div class="login">Email {{ user_edited.email }}</div>
        <div class="login">Location {{ profile_edit.location }}</div>
        <div class="login">Biography {{ profile_edit.biography }}</div>
        <div class="login">Image {{ profile_edit.image_cover }}</div>
        <input class="btn btn-success mt-2" type="submit" value="Update">
</form>
    {% for field in profile_edit %}
    {% for field in user_edited %}
        {% for error in field.errors %}
            {{ error }}
    {% endfor %}
    {% endfor %}
{% endfor %}
</div>
</div>





{% endblock %}
