<br>
    <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
      <a class="nav-link" id="homemade" data-toggle="tab" href="#home">HOME</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tools">Tools</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#news">News</a>
  </li>
    </ul>
    <div class="tab-content ">
    <div class="container tab-pane text-white fade" id="home"><br>
    <h3>Home</h3>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">bold</a></li>
            <li class="list-inline-item"><a href="">italic</a></li>
            <li class="list-inline-item"><a href="">strong</a></li>

        </ul>
    </div>
    <div class="text-white tab-pane fade" id="tools"><br>
    <h3>Tools</h3>
        <p>dont judge me tofhdkjsghskhsgssajaskjs</p>
    </div>
    <div class="tab-pane text-white fade" id="contact"><br>
    <h3>Contact</h3>
        <p>dont judge me tofhdkjsghskhsgssajaskjs</p>
    </div>
    <div class="tab-pane text-white fade" id="news"><br>
    <h3>News</h3>
        <p>dont judge me tofhdkjsghskhsgssajaskjs</p>
    </div>

    </div>
