{% extends 'base.html' %}
{% load static %}
{% block title %}
Movie Result
{% endblock %}
{% block content %}
    <style>
    div.card{
        width: 100%;
        margin: 0 auto;
    }

    </style>
    <div class="card h-100 ml-lg-2 mb-3 mt-4" style="max-width: 1100px;">
    {% for movie in movies_data %}
  <div class="row no-gutters">
    <div class="col-12 col-md-4">
      <img src="{{ movie.poster }}" class="card-img" alt="...">
    </div>
    <div class="col-12 col-md-8 ">
        <div class="card-header">
            <h5 class="text-center">Movie Details</h5>
        </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><h5><strong>MOVIE TITLE: </strong>{{ movie.title }}</h5></li>
        <li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE YEAR: </strong>{{ movie.year }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE RATED: </strong>{{ movie.rated }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE RUNTIME: </strong>{{ movie.runtime }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE GENRE: </strong>{{ movie.genre }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE DIRECTOR: </strong>{{ movie.director }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE WRITERS: </strong>{{ movie.writer }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE ACTORS: </strong>{{ movie.actors }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE LANGUAGE: </strong>{{ movie.language }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE COUNTRY: </strong>{{ movie.country }}</h5></li>
		<li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE AWARDS: </strong>{{ movie.awards }}</h5></li>
            <li class="list-group-item text-center"><h5 class="media-heading"><strong>MOVIE RATINGS: </strong><em>Source:</em>{{ movie.ratings }} ({{ movie.ratings_2 }})</h5></li>
        </ul>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}
